<header class="px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between border-b border-zinc-200 py-3">
    <div class="flex items-center gap-4">
      <a
        href="/"
        class="text-[0.8125rem] font-semibold text-zinc-900 hover:text-zinc-600"
      >
        Home
      </a>
    </div>
  </div>
</header>
<main class="px-4 py-4 sm:px-6 lg:px-8">
  <div>
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
